{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <p>
        	Welcome to the reports page!
        </p>
        <p>
        	<a href='/reports/add'>Create a report.</a>
        </p>
    </div>

    <div class="container-fluid">
    	{{ reports.length }}
    	{% for report in reports %}
            <div class="well well-lg">
                <b>Title: </b> <br>
    		    {{ report.title }} <br>
                <b>Description: </b> <br>
                {{ report.description }} <br>
                <b>Report type: </b> <br>
                {{ report.type }} <br>
                {% if report.type == "Private" %}
                    <b>Pets: </b> <br>
                    {{ report.pets }} <br>
                    <b>Apartment entry: </b> <br>
                    {{ report.entry }} <br>
                {% endif %}
            </div> <br>
    	{% endfor %}
    </div>
{% endblock content %}