{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <p>
        	Welcome to the reports page!
        </p>

    </div>

    <div class="container-fluid">
    	{% for report in reports %}
            <div class="well well-lg">
                <b>Title: </b> <br>
    		    {{ report.title }} <br>
                <b>Description: </b> <br>
                {{ report.description }} <br>
                <b>Report type: </b> <br>
                {{ report.type }} <br>
                {% if report.type == "Private" %}
                    <b>Pets: </b> <br>
                    {{ report.pets }} <br>
                    <b>Apartment entry: </b> <br>
                    {{ report.entry }} <br>
                {% endif %}
            {% for photo in photos %}
                {% if photo.reportID|stringformat:"s" == report.key.id|stringformat:"s" %}
                   <img src="{{ photo.serving_url }}" width="25%" height="25%"/>
                {% endif %}

            {% endfor %}
            </div> <br>
    	{% endfor %}
    </div>
{% endblock content %}